<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django crud</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .navbar-brand i {
            font-size: 1.5rem;
            color: #ffffff;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Inicio</a>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'tasks' %}" class="nav-link">Tareas pendientes</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tasks_completed' %}" class="nav-link">Tareas completadas</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'create_task' %}" class="nav-link">Crear tareas</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">Salir</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'signup' %}" class="nav-link">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signin' %}" class="nav-link">Iniciar sesión</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
        </div>
    </nav>



    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>