{% extends "base.html" %}

{% block content %}
<main class="container py-5"> 
    <section class = "card card-body"> 
        <h1 class="display-1 text-center">Bienvenido</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error rem similique pariatur quas explicabo eaque delectus voluptatem quam soluta quidem odit ipsam, iure quibusdam? Quo quibusdam consequatur ipsa modi, nulla nam aperiam eaque a culpa? Libero iusto facere perspiciatis dolorem fuga quos possimus tenetur dolores nihil quae laboriosam, unde quam totam! Error doloribus distinctio enim iure aperiam. Dolorem sunt reiciendis explicabo obcaecati distinctio maxime itaque magni inventore quo totam. Architecto eaque quidem quos. Sequi illum, ipsum iste laborum blanditiis soluta porro animi recusandae magni accusantium ullam molestias optio vitae, officiis atque? Ea, eum nihil harum dolor eos quaerat optio numquam!</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Iniciar sesión
            </a>
            <a class="btn btn-dark" href="/signup/">
                Registrarse
            </a>
        </div>
    </section>
</main>
{% endblock %}